.foto {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.leftBorder {
    border-left: 5px solid grey;
    border-radius: 10px;
}

// .divname {
// border-left: 1px solid black;
// }
mat-toolbar {
    border-radius: 10px;
}