    h3 {
        font-weight: bold;
    }
    
    h1 {
        color: rgb(42, 38, 247);
    }
    
    h2 {
        color: orangered
    }
    
    .shows {
        button {
            background-color: rgb(158, 74, 238);
        }
    }
    
    img {
        width: 80%;
        height: 400px;
    }
    
    .pdf {
        color: black;
        border-bottom: 1px solid black;
    }