<mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="SearchByTitle()">
            <mat-icon matSuffix *ngIf="!searchKey">search</mat-icon>
            <button mat-button color="primary" mat-icon-button matSuffix aria-label="Clear" *ngIf="searchKey" (click)="onsearchClear()">
                <mat-icon>cancel</mat-icon> </button>
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>
<div *ngIf="!searchKey;else forSearch">

    <div class="card container mt-2" *ngFor="let cours of blogs;let i=index">
        <div class="row">
            <h1 class="col-6 " align="end"><b><u>{{cours.title}}</u></b></h1>
            <div class="col-6" align="end">
                <h1> <a href="#" routerLink="../cours">cours</a></h1>
            </div>
        </div>
        <div class="card mt-2 container" *ngFor="let td of cours.tds">
            <div class="container" align="center">
                <h2><b>{{ td.title}}</b></h2>
            </div>
            <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(td.description!)" align="end"></div>
            <div *ngFor="let img of td.images" align="center">
                <img [src]="img.filename" class="mt-1 ">
            </div>

            <div class="container">
                <div align="end" [ngClass]="{'hide':role=='USER'}">
                    <button mat-raised-button class="ml-auto" (click)="showDivAdd(td._id)"><mat-icon class="mr-1">add</mat-icon> Add Image</button>
                </div>
                <div class="container card" *ngIf="show==true" [ngClass]="{'hide':td._id!=td_id}">
                    <u><b>Ajouter une image:</b></u>
                    <form [formGroup]="serviceForms.formGallery" class="card" (ngSubmit)="addImage(td._id)">
                        <mat-form-field appearance="outline">
                            <mat-label>Select your File</mat-label>
                            <ngx-mat-file-input formControlName="filename" placeholder="Select Image" valuePlaceholder="No file selected">
                                <mat-icon matSuffix>image</mat-icon>
                            </ngx-mat-file-input>
                        </mat-form-field>
                        <div align="end">
                            <button mat-raised-button color="primary" class="ml-1" [disabled]="serviceForms.formGallery.invalid"> <mat-icon class="mr-1">save</mat-icon>Save</button>
                            <button mat-raised-button color="warn" type="reset" class="ml-1" matTooltip="EMPTY THE FORM!" matTooltipPosition="above"> <mat-icon class="mr-1">cancel</mat-icon>Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #forSearch>
    <div class="card container mt-2" *ngFor="let cours of Searchlessons">
        <div class="row">
            <h1 class="col-6 " align="end"><b><u>{{cours.title}}</u></b></h1>
            <div class="col-6" align="end">
                <h1> <a href="#" routerLink="../cours">cours</a></h1>
            </div>
        </div>
        <div class="card mt-2 container" *ngFor="let td of cours.tds">
            <div class="container" align="center">
                <h2><b>{{ td.title}}</b></h2>
            </div>
            <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(td.description!)" align="end"></div>
            <div *ngFor="let img of td.images" align="center">
                <img [src]="img.filename" class="mt-1 ">
            </div>

            <div class="container">
                <div align="end" [ngClass]="{'hide':role=='USER'}">
                    <button mat-raised-button class="ml-auto" (click)="showDivAdd(td._id)"><mat-icon class="mr-1">add</mat-icon> Add Image</button>
                </div>
                <div class="container card" *ngIf="show==true" [ngClass]="{'hide':td._id!=td_id}">>
                    <u><b>Ajouter une image:</b></u>
                    <form [formGroup]="serviceForms.formGallery" class="card" (ngSubmit)="addImage(td._id)">
                        <mat-form-field appearance="outline">
                            <mat-label>Select your File</mat-label>
                            <ngx-mat-file-input formControlName="filename" placeholder="Select Image" valuePlaceholder="No file selected">
                                <mat-icon matSuffix>image</mat-icon>
                            </ngx-mat-file-input>
                        </mat-form-field>
                        <div align="end">
                            <button mat-raised-button color="primary" class="ml-1" [disabled]="serviceForms.formGallery.invalid"> <mat-icon class="mr-1">save</mat-icon>Save</button>
                            <button mat-raised-button color="warn" type="reset" class="ml-1" matTooltip="EMPTY THE FORM!" matTooltipPosition="above"> <mat-icon class="mr-1">cancel</mat-icon>Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</ng-template>