h1 {
    color: rgb(42, 38, 247);
}

h2 {
    color: orangered
}

h3 {
    font-weight: bold;
}

button {
    background-color: rgb(247, 134, 213);
}

img {
    width: 80%;
    height: 400px;
}

.row {
    background-color: rgb(175, 173, 173);
    a {
        color: black
    }
}